<div class="row">
  <div class="col-xs-6 col-xs-offset-3 panel panel-body">
    <h4 class="text-center">Edit Snack Data</h4>

    <form action="/snacks/{{snacks.id}}/edit?_method=put" method="POST" class="col-xs-8 col-xs-offset-2 text-center">
      {{> form_new_edit}}
    </form>

  </div>

</div>
